.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 3px;
}

.container-green {
  background-color: rgba(0, 255, 0, 0.4);
}

.container-red {
  background-color: rgba(255, 0, 0, 0.4);
}

.container-yellow {
  background-color: rgba(255, 255, 0, 0.4);
}
